.CountryBuilder {
  width: 20%;
  height: 900px;
  padding: 10px;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
  overflow-y: auto;
}


.CountryBuilder-list {
  margin-left: 0;
  padding-left: 0;
}

.CountryBuilder-main {
  display: block;
  padding: 20px;
  margin-left: 25%;
}