.CountryDetails {
  padding: 5px;
}

.CountryDetails-title {
  font-size: 18px;
  padding-bottom: 30px;
}

.CountryDetails-accent {
  font-weight: bold;
  font-size: 14px;
  padding: 5px 15px 5px 0;
}

.CountryDetails-img {
  width: 120px;
  height: 70px;
}